* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid white; */
}

html {
  font-size: 62.5%;
  background: linear-gradient(#21c08b, #ab88bf);
}

:root {
  --font-size: 1.6rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: white;
  font-size: 1.8rem;
  font-family: "Mulish", sans-serif;
  background-color: #21c08b;
}

.header__menu:hover ul {
  display: block;
}

.header__logo {
  width: 200px;
}

.header__menu {
  margin-right: 30px;
  width: 100px;
}

.header__menu ul {
  display: none;
  position: absolute;
  list-style: none;
  text-decoration: none;
  text-align: right;
  margin-left: -11px;
}

header ul a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

header ul a:hover {
  text-decoration: underline;
}

.header__menu__profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Estilos de login */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background: linear-gradient(#21c08b, #ab88ff);
  min-height: calc(100vh - 200px);
}

.login {
  width: 400px;
  height: fit-content;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 0px 12px 12px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  background-color: #ffffff14;
}

.login__tittle {
  font-family: "Mulish", sans-serif;
  margin-top: 20px;
  color: white;
  margin-bottom: 50px;
  font-size: 2.5rem;
}

.login__input {
  background-color: transparent;
  width: 100%;
  outline: 0;
  color: white;
  transparent: 1;
  border: none;
  margin: 8px 0;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.login__input::placeholder {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: var(--font-size);
  font-weight: bold;
}

.login__button--login {
  width: 100%;
  background-color: #ffffff6b;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: white;
  font-size: var(--font-size);
  margin: 18px 0;
  cursor: pointer;
}

.login__button--login:active {
  box-shadow: 0 1px 6px #2b2b2b6e;
}

.login__helpers {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size);
  font-family: "Mulish", sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .login__helpers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
  }
}

.login__helpers div {
  display: flex;
  align-items: center;
  color: white;
}

.login__helpers div label {
  cursor: pointer;
}

.login__helpers div input {
  cursor: pointer;
  margin-right: 5px;
}

.loading__options {
  margin-top: 80px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: var(--font-size);
  font-weight: bold;
}

.loading__options--google {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.loading__options--google img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.loading__options--twitter {
  display: flex;
  align-items: center;
}

.loading__options--twitter img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.loading__register {
  margin-top: 80px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: var(--font-size);
  font-weight: bold;
}

/* Footer */

footer {
  width: 100%;
  height: 100px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: var(--font-size);
  font-weight: bold;
  background-color: #ab88ff;
  display: flex;
  align-items: center;
}

.footer__item {
  margin: 10px;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: var(--font-size);
}
