* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid white;
}

html {
  font-size: 62.5%;
  background-color: #8F57FD;
}

/*Estilos barra de scroll*/

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 8px; 
  height: 8px;   
  background:rgba(255,255,255,.4);
  border-radius: 4px;
  /*Display:none; para quitar la barra*/
}
::-webkit-scrollbar:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active {
  background: #999;
}

/*qui*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: white;
  font-size: 1.8rem;
  font-family: "Mulish", sans-serif;
}

.header__menu:hover ul {
  display: block;
}

.header__menu {
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {
    display: flex;
  }
  to {
    display: block;
  }
}

.header__logo {
  width: 200px;
}

.header__menu {
  margin-right: 30px;
  width: 100px;
}

.header__menu ul {
  display: none;
  position: absolute;
  list-style: none;
  text-decoration: none;
  text-align: right;
  margin-left: -11px;
}

header ul a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

header ul a:hover {
  text-decoration: underline;
}

.header__menu__profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Estilos de la seccion del buscador */

.searcher{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 300px;
}

.searcher__title{
    font-family: "Mulish", sans-serif;
    color: white;
    font-size:2.5rem;
    font-weight: bold;
    margin-bottom:20px
}

.searcher__bar{
    width:50%;
    height:fit-content;
    text-align:center;
    border-radius: 15px;
    border:2px solid white;
    background-color: #a07bf8;

}

.searcher__bar input{
    width: 95%;
    height: 2.8rem;
    background-color: #a07bf8;
    border:0;
    color: white;
    padding:10px;
    
}

.searcher__bar input:focus{
    border:0;
    outline:none;
    color: white;
}

.searcher__bar input::placeholder{
    color: white;
    font-size: 1.1rem;
    padding-top: 10px;
    font-family: "Mulish", sans-serif;
    font-weight: bold;
}

/*Estilos del Carousel */
.carousel{
  width: 100%;
  height: fit-content;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carousel__container{
  white-space: nowrap;
  margin: 70px 0px;
  /* padding-bottom: 10px; */
  display:flex;
  gap: 30px;
}

.carousel__item{
  width: 200px;
  min-width: 200px;
  height: 250px;
  min-height:250px;
  border-radius: 20px;
  background-color:aliceblue;
  cursor: pointer;
  overflow:hidden;
  transition: 850ms all;
  transform-origin: center left;
  position: relative;
}

.carousel__item:hover ~ .carousel__item{
  transform: translate3d(100px,0,0);
}

.carousel__container:hover .carousel__item{
  opacity: 0.3;
}

.carousel__container:hover .carousel__item:hover{
  transform: scale(1.5);
  opacity:1;
}

.carousel__item__img{
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel__item__details{
  position:absolute;
  width: 100%;
  bottom:0;
  padding:10px;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  transition: 450ms opacity;
  opacity:0;
}

.carousel__container:hover .carousel__item:hover .carousel__item__details{
  opacity: 1;
}


.carousel__item__icon{
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.carousel__item__details__title{
  margin: 5px 0;
}

.error__title{
  font-size:3rem;
  color:white;
  font-family: "Mulish", sans-serif;
  margin: 10px;  
}

.error__subtitle{
  font-size:1.5rem;
  color:white;
  font-family: "Mulish", sans-serif;
  margin: 10px;  
}


.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
  animation-duration: 1.5s;
}

